*.bak
*.ex
*.sta
*.vsdelta
21.0.3/autosave
21.0.3/diffmap.ini
21.0.3/diffsession.xml
21.0.3/hotfixes
21.0.3/lastmac.e
21.0.3/logs
21.0.3/perfile.xml
21.0.3/personal.sca
21.0.3/pipDB.dbs
21.0.3/plugins
21.0.3/SampleProjects
21.0.3/SCDebug
21.0.3/SelDisp
21.0.3/tagfiles
21.0.3/vrestore.slk
21.0.3/vsdelta
